.layout__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout__item {
  width: 66*$gridUnit;
  max-width: 100%;
  padding: 0 $gridUnit * 3;
}

.layout__item-fw {
  width: 100%;
}

.layout__item-fw-center {
  display: flex;
  justify-content: center;
}

// Padding top
.layout__item--padding-t-xxs {
  padding-top: $gridUnit * 3;
}

.layout__item--padding-t-xs {
  padding-top: $gridUnit * 6;
}

.layout__item--padding-t-s {
  padding-top: $gridUnit * 9;
}

.layout__item--padding-t-m {
  padding-top: $gridUnit * 12;
}

.layout__item--padding-t-l {
  padding-top: $gridUnit * 15;
}

// Padding bottom
.layout__item--padding-b-xxs {
  padding-bottom: $gridUnit * 3;
}

.layout__item--padding-b-xs {
  padding-bottom: $gridUnit * 6;
}

.layout__item--padding-b-s {
  padding-bottom: $gridUnit * 9;
}

.layout__item--padding-b-m {
  padding-bottom: $gridUnit * 12;
}

.layout__item--padding-b-xl {
  padding-bottom: $gridUnit * 18;
}

// Padding left / right

.layout__item--padding-lr-s {
  padding-right: $gridUnit * 9;
  padding-left: $gridUnit * 9;
}
