.layout__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout__item-fw-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: $gridUnit * 9;
}

.layout__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 60*$gridUnit;
  padding: $gridUnit * 3 0;
}

.layout__item--padding-bottom {
  padding-bottom: $gridUnit * 18;
}

.layout__item--margin-bottom {
  margin-bottom: $gridUnit * 9;
}

.layout__footer {
  padding: $gridUnit * 9 0;
}

.layout__item-team {
  padding: 0 $gridUnit * 3; 
}