.layout__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $lightgray;
}

.layout__header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: $gridUnit * 12;
  background: $red;
}

.layout__header-container {
  max-width: 66 * $gridUnit;
}

.layout__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 66*$gridUnit;
  padding-top: $gridUnit * 3;
  padding-bottom: $gridUnit * 3;
}

.layout__item--padding-bottom {
  padding-bottom: $gridUnit * 18;
}

.layout__item--margin-bottom {
  margin-bottom: $gridUnit * 9;
}

.layout__footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: $gridUnit * 9 0;
  background: black;
  color: white;
}

.layout__item-partners {
  padding: 0 $gridUnit * 3; 
}