.projects__title {
  margin: 0 0 $gridUnit * 3 0;
}

.publications__title {
  margin: $gridUnit * 6 0 $gridUnit * 3 0;
}

.textbox__child--margin-bottom {
  margin-bottom: $gridUnit * 3;
}

.post__footer {
  width: 100%;
}
.post__meta {
  padding: $gridUnit * 3;
  display: flex;
  justify-content: space-between;
}