<% 
if reference.data.reference 
  link = reference.data.reference.url
else
  link = "/publications/" + reference.slug + ".html"
end
%>

<div onclick="" class="feature">
  <div class="feature__meta">
    <h5><a class="feature__title" href="<%= link %>"><%= reference.data.title %></a></h5>
    <p class="feature__summery"><%= reference.data.summery %></p>
  </div>
  <a class="feature__button" href="<%= link %>">&#187; </a>
</div>
</a>
