    <footer class="layout__item layout__item--footer brand-base">
      <div class="layout__item-grid-content">
        <summery class="textbox">
          <div class="textbox--heading-container">
            <div>
              <h1 class="textbar textbar--inverse">Offcourse</h1><br>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis porro aspernatur culpa iure nisi, odit architecto maiores incidunt expedita deserunt adipisci voluptas vitae, quisquam quo veniam consequuntur est assumenda laudantium!</p>
          <p>Contact: <a class="textbox__inverse-link" href="mailto:yeehaa@codingthehumanities.com">Jan Hein Hoogstad</a></p>
        </summery>
      </div>
    </footer>
    <%= javascript_include_tag :all %>
  </body>
</html>