    <footer class="layout__footer">
      <div class="layout__item layout__item--short">
        <summery class="textbox">
          <div class="textbox--heading-container">
            <div>
              <h1 class="textbar textbar--inverse">Offcourse_</h1><br>
            </div>
          </div>
          <p>Offcourse_ is an online learning hub for collecting and sharing learning resources. It makes it simple and fun to start learning something new from anywhere with an internet connection.</p>
          <p>Contact: <a href="mailto:yeehaa@codingthehumanities.com">Jan Hein Hoogstad</a></p>
        </summery>
      </div>
    </footer>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    <%= javascript_include_tag :all %>
  </body>
</html>