    <footer class="layout__item-fw layout__item--padding-t-m layout__item--padding-b-m layout__item-fw-center brand-base">
      <article class="layout__item">
        <h1 class="textbar textbar--inverse textbar--margin-bottom">Offcourse_</h1><br>
        <p class="textbox__child--margin-bottom">Offcourse_ is an online learning hub for collecting and sharing learning resources. It makes it simple and fun to start learning something new from anywhere with an internet connection.</p>
        <p>Contact: <a href="mailto:yeehaa@codingthehumanities.com">Jan Hein Hoogstad</a></p>
      </article>
    </footer>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    <%= javascript_include_tag :all %>
  </body>
</html>