<nav class="nav">
  <%  
    $navigation_items = [
      'Pitch',
      'Possibilities',
      'Explorations',
      'Partners',
      'Writings'
    ]
  %>
  <% for item in 0..4 %><a href="<%= config.http_prefix + '#' + blog('frontpage').articles[item].data.anchor %>" class="btn btn--margin btn--nav <% if which_is_link_active == item %>btn--is-active<% end %>"><%= blog('frontpage').articles[item].data.title %></a><% end %>
</nav>