<h3 class="publications__title">Publications:</h3>
<% blog('publications').articles.each do |post| %>
<% if search_query != 0 %>
<% if search_query == post.data.authors[0] %>
  <%= partial(:"partials/feature", :locals => { :reference => post })  %>
<% end %>
<% else %>
  <%= partial(:"partials/feature", :locals => { :reference => post })  %>
<% end %>
<% end %>
