<header class="layout__item-fw layout__item--padding-t-xxs layout__item--padding-b-xxs">
  <h3>Publications:</h3>
</header>
<% blog('publications').articles.each do |post| %>
<% if search_query != 0 %>
<% if search_query == post.data.authors[0] %>
  <%= partial(:"partials/feature", :locals => { :reference => post })  %>
<% end %>
<% else %>
  <%= partial(:"partials/feature", :locals => { :reference => post })  %>
<% end %>
<% end %>
