<a href="
<% 
  if reference.data.reference 
    concat reference.data.reference.url; 
  end
%>
">
<div onclick="" class="feature">
  <div class="feature__meta">
    <h5 class="feature__title"><%= reference.data.title %></h5>
    <p class="feature__summery"><%= reference.data.summery %></p>
  </div>
  <div class="feature__button"> &#65515; </div>
</div>
</a>
