* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  position: relative;
  font-family: NittiGrotesk;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin-right: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  border: none;
}

@media (min-width: 0px) and (max-width: 767px) {

  html {
    font-size: 55%;
    line-height: 1.875rem;
  }

}

@media (min-width: 768px) and (max-width: 899px) {

  html {
    font-size: 60%;
    line-height: 1.875rem;
  }

}

@media (min-width: 900px) and (max-width: 1023px) {

  html {
    font-size: 65%;
    line-height: 1.875rem;
  }

}

@media (min-width: 1024px) and (max-width: 1279px) {

  html {
    font-size: 65%;
    line-height: 1.875rem;
  }

}

@media (min-width: 1280px) and (max-width: 1439px) {

  html {
    font-size: 70%;
    line-height: 1.875rem;
  }

}

@media (min-width: 1440px) and (max-width: 1599px) {

  html {
    font-size: 80%;
    line-height: 1.875rem;
  }

}

@media (min-width: 1600px) and (max-width: 1920px) {

  html {
    font-size: 80%;
    line-height: 1.875rem;
  }

}

@media (min-width: 1920px) and (max-width: 2047px) {

  html {
    font-size: 85%;
    line-height: 1.875rem;
  }

}

@media (min-width: 2048px) and (max-width: 2560px) {

  html {
    font-size: 90%;
    line-height: 1.875rem;
  }

}

@media (min-width: 2560px) and (max-width: 3200px) {

  html {
    font-size: 95%;
    line-height: 1.875rem;
  }

}

@media (min-width: 3200px) and (max-width: 3839px) {

  html {
    font-size: 100%;
    line-height: 1.875rem;
  }

}

@media (min-width: 3840px) and (max-width: 9999px) {

  html {
    font-size: 100%;
    line-height: 1.875rem;
  }

}

@font-face {
  font-family: NittiGrotesk;
  font-weight: 500;
  src: url('/fonts/NGN.woff') format('woff');
}

@font-face {
  font-family: NittiNormal;
  font-weight: 500;
  src: url('/fonts/NN.woff') format('woff');
}

@font-face {
  font-family: NittiGroteskBold;
  font-weight: 500;
  src: url('/fonts/NGB.woff') format('woff');
}

@font-face {
  font-family: NittiBold;
  font-weight: 500;
  src: url('/fonts/NB.woff') format('woff');
}

.t--nitty-normal {
  font-family: NittiNormal;
}

.t--nitty-bold {
  font-family: NittiBold;
}

.t--nitty-grotesk {
  font-family: NittiGrotesk;
}

.t--nitty-grotesk-bold {
  font-family: NittiGroteskBold;
}

.t--title {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
}

.t--subtitle {
  font-family: NittiGroteskBold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
}

.t--text {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
}

.t--banner {
  font-family: NittiBold;
  font-size: 6rem;
  line-height: 7.5rem;
  font-weight: 500;
}

.t--logo {
  font-family: NittiBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
}

.t--form {
  font-family: NittiGrotesk;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 300;
}

.t--list {
  font-family: NittiGroteskBold;
  font-size: 1.5rem;
  line-height: 2.8125rem;
  font-weight: 300;
}

.t--label {
  font-family: NittiGrotesk;
  font-size: 1.2000000000000002rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.c--night {
  background: #000000;
}

.c--dark {
  background: #3d3d3d;
}

.c--medium {
  background: #a0a0a0;
}

.c--light {
  background: #f4f6f4;
}

.c--very-light {
  background: #f8f9f8;
}

.c--day {
  background: #FFFFFF;
}

.c--primary {
  background: #75C7B3;
}

.c--highlighted {
  background-color: #75C7B3;
  color: #FFFFFF;
}

.c--selected {
  background-color: #000000;
  color: #FFFFFF;
}

.c--negative {
  background-color: #000000;
  color: #FFFFFF;
}

.c--paper {
  background-color: #FFFFFF;
  color: #000000;
}

.c--recycled-paper {
  background-color: #f4f6f4;
  color: #000000;
}

.c--smudged-paper {
  background-color: #a0a0a0;
  color: #000000;
}

.layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  color: #000000;
}

.layout--section {
  background-color: #f4f6f4;
  color: #000000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 99.375rem;
}

.grid--section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.875rem;
}

.grid--section:last-child {
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 1.875rem;
}

.subgrid {
  display: block;
  -webkit-column-span: none;
     -moz-column-span: none;
          column-span: none;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.subgrid[data-subgrid-columns="2"] {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
}

.subgrid[data-subgrid-columns="3"] {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
}

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container[data-container-type="column"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container[data-container-type="fw"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.container[data-container-type="subgrid"] {
  display: inline-block;
  width: 100%;
}

@media (min-width: 0px) and (max-width: 767px) {

  
  
  .grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .grid--section {
    -webkit-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  
  .grid--section:last-child {
    -webkit-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  
  .subgrid[data-subgrid-columns="2"] {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
  }
  
  .subgrid[data-subgrid-columns="3"] {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
  }

}

.header {
  background-color: #75C7B3;
  color: #FFFFFF;
}

.logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
  color: #FFFFFF;
  font-family: NittiBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding: 0 0.625rem;
}

.logo[data-logo-padded="true"] {
  padding: 0 1.875rem;
}

.logo[data-logo-inverse="true"] {
  background-color: #FFFFFF;
  color: #000000;
}

.logo[data-logo-size="large"] {
  font-family: NittiBold;
  font-size: 6rem;
  line-height: 7.5rem;
  font-weight: 500;
  padding: 0 1.875rem 0 1.5625rem;
  margin: 0 0.625rem 0.625rem 0;
}

@media (min-width: 0px) and (max-width: 767px) {

  
  
  .logo[data-logo-size="large"] {
    font-family: NittiBold;
    font-size: 2.25rem;
    line-height: 2.8125rem;
    font-weight: 500;
  }

}

.sheet {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: solid 0.3125rem #a0a0a0;
  background-color: #FFFFFF;
  color: #000000;
  padding: 1.875rem;
  transition: margin-top 1s ease-in-out;
}

.sheet:hover {
  border-color: #75C7B3;
}

.sheet--section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.business-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: solid 0.3125rem #a0a0a0;
  background-color: #FFFFFF;
  color: #000000;
}

.business-card:hover {
  border-color: #75C7B3;
}

.business-card--section {
  width: 8.75rem;
}

.business-card--section:last-child {
  width: auto;
  padding: 0.9375rem 0.9375rem 0.625rem 1.25rem;
}

.content h1 {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding-bottom: 1.25rem;
}

.content h2 {
  font-family: NittiGroteskBold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  padding-bottom: 1.25rem;
}

.content p {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  padding-bottom: 1.25rem;
}

.content p:last-child {
  padding-bottom: 0;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
}

.button[data-button-type="sheet"] {
  border-bottom: solid 0.3125rem #a0a0a0;
  line-height: 1.875rem;
  font-family: NittiGroteskBold;
  margin: 0 0.3125rem 1.875rem 0;
  padding: 0.625rem 0.9375rem;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

.button[data-button-type="sheet"]:hover {
  border-color: #75C7B3;
}

.image {
  display: block;
  width: 100%;
}

.image[data-image-filter="true"] {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: all 1s ease 1s;
}

.image[data-image-filter-recolor="true"]:hover {
  -webkit-filter: none;
          filter: none;
}

.form--input {
  font-family: NittiGrotesk;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 300;
  background-color: #f4f6f4;
  color: #000000;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0.9375rem 0.9375rem 0.9375rem 1.875rem;
}

.form--subscribe {
  line-height: 2.8125rem;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: NittiGrotesk;
  border: none;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375rem 0;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  cursor: pointer;
  font-weight: 300;
  font-size: 2.25rem;
  background-color: #75C7B3;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FFFFFF;
}

.form--subscribe:hover {
  background-color: #000000;
  color: #FFFFFF;
}

div.form--error {
  font-family: NittiGroteskBold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
  padding: 0.625rem 0.625rem 0.625rem 1.875rem;
  margin: 0;
}

.form--success {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding-top: 1.25rem;
}

.label {
  line-height: 1.5rem;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: NittiGrotesk;
  margin-right: 0.3125rem;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.9375rem;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.3125rem;
  font-weight: 300;
  font-size: 1.2000000000000002rem;
  background-color: #f4f6f4;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

.label:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list--item {
  line-height: 2.8125rem;
  font-family: NittiGroteskBold;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.9375rem;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0.3125rem;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: #f4f6f4;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

.list--item:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.list--item[data-selected="true"] {
  background-color: #75C7B3;
  color: #FFFFFF;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
}

.viewer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  color: #000000;
  overflow-y: auto;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.viewer--content {
  display: block;
  max-width: 99.375rem;
}

.viewer--content h1 {
  font-family: NittiGroteskBold;
  font-size: 3.3000000000000003rem;
  line-height: 3.75rem;
  font-weight: 500;
}

.viewer--content h2 {
  font-family: NittiGroteskBold;
  font-size: 2.7rem;
  line-height: 3.375rem;
  font-weight: 500;
}

.viewer--content h3 {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
}

.viewer--content h4 {
  font-family: NittiGroteskBold;
  font-size: 1.875rem;
  line-height: 2.34375rem;
  font-weight: 500;
}

.viewer--content h5 {
  font-family: NittiGroteskBold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 500;
}

.viewer--content h6 {
  font-family: NittiGroteskBold;
  font-size: 1.2000000000000002rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.viewer--content p {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
}

.viewer--content img {
  display: block;
  width: 100%;
}

.viewer--content figcaption {
  font-family: NittiGrotesk;
  font-size: 1.2000000000000002rem;
  line-height: 1.5rem;
  font-weight: 300;
  padding: 0.9375rem 1.875rem;
}

.viewer--content blockquote {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  background-color: #f4f6f4;
  color: #000000;
  padding: 1.875rem;
}

.viewer--content code {
  font-family: NittiNormal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 300;
  background-color: #f4f6f4;
  color: #000000;
  white-space: pre-wrap;
  padding: 1.875rem;
}

.viewer--content fieldset {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  border: unset;
}

.viewer--content legend {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
}

.viewer--content input {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  background-color: #f4f6f4;
  color: #000000;
  padding: 0.9375rem 1.875rem;
  width: 100%;
}

.viewer--content select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 1.875rem;
  width: 100%;
  font-family: NittiGrotesk;
  border: unset;
  padding: 0.9375rem 1.875rem;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: #f4f6f4;
  border-radius: 0;
  color: #000000;
}

.viewer--content textarea {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  background-color: #f4f6f4;
  color: #000000;
  padding: 0.9375rem 1.875rem;
  border: unset;
  width: 100%;
}

.code {
  background-color: #f4f6f4;
  color: #000000;
  font-family: NittiNormal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 300;
  padding: 0.9375rem 1.875rem;
}

.code-pre {
  white-space: pre-wrap;
}

.padding-b-third {
  padding: 0 0 0.625rem 0;
}

.padding-t-twothird {
  padding: 1.25rem 0 0 0;
}

.padding-b-twothird {
  padding: 0 0 1.25rem 0;
}

.padding-tb-twothird {
  padding: 1.25rem 0;
}

.padding-t-one {
  padding: 1.875rem 0 0 0;
}

.padding-b-one {
  padding: 0 0 1.875rem 0;
}

.padding-tb-one {
  padding: 1.875rem 0;
}

.padding-lr-one {
  padding: 1.875rem 0;
}

.padding-t-two {
  padding: 3.75rem 0 0 0;
}

.padding-b-two {
  padding: 0 0 3.75rem 0;
}

.padding-tb-two {
  padding: 3.75rem 0;
}

.padding-tb-four {
  padding: 7.5rem 0;
}