.feature {
  display: flex;
  width: 100%;
  margin: $gridUnit * 3 0;
}

.feature__meta {
  width: 90%;
}

.feature__meta--fw {
  width: 100%;
}

.feature__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin: 0 0 0 $gridUnit*3;

  background: $lightgray;
  color: black;
  border: $gridUnit solid black;
}

.feature__button:hover {
  background: black;
  color: $lightgray;
  border: $gridUnit solid black;
}
