// Markdown base-styling

.markdown p {
  margin-bottom: $gridUnit * 1;
}

.markdown > ul {
  margin-bottom: $gridUnit * 1;
  list-style: square;
  list-style-position: inside;
}

.markdown img {
  width: 100%;
  padding: $gridUnit * 1 0 $gridUnit * 3 0;
  filter: grayscale(100%);
  transition: all 1s linear 0.5s;
}

.markdown img:hover {
  filter: grayscale(0%);
}

.markdown a :not(img) {
  // border-bottom: solid 2px $red;
}

.markdown a:hover :not(img) {
  // border-bottom: solid 2px $black;
}


// Markdown with classes (HTML inside .md)

.markdown__github-container {
  display: flex;
  justify-content: space-between;
  margin-top: -$gridUnit * 2;
  overflow: hidden;
}
