.team {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0 $gridUnit * 3 $gridUnit * 3 0;
}

.team__image {
  display: block;
  width: $gridUnit*15;
  flex-shrink: 0;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.team__meta {
  padding-left: $gridUnit*3;
}

.team__name {
  display: inline-block;
  line-height: 1.1;
  border-bottom: $gridUnit / 2 solid $red;
}

.team__name:hover {
  border-bottom: $gridUnit / 2 solid $black;
}