.team-member {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 0 0 $gridUnit * 3 0;
}

.team-member .team-member__image {
  display: block;
  width: $gridUnit*15;
  flex-shrink: 0;
  filter: grayscale(100%);
}

.team-member__meta {
  padding-left: $gridUnit*3;
}

.team-member__name {
  display: inline-block;
  line-height: 1.1;
  border-bottom: $gridUnit / 2 solid $red;
}

.team-member__name--margin {
  margin-bottom: $gridUnit * 2;
}

.team-member__name:hover {
  border-bottom: $gridUnit / 2 solid $black;
}