// Textbox base

.textbox {
  padding: 0 $gridUnit * 3;
}

.textbox--padding-small {
  padding: $gridUnit * 6 $gridUnit * 3;
}

.textbox--padding-large {
  padding: $gridUnit * 6 $gridUnit * 3 $gridUnit * 12 $gridUnit * 3;
}

// Textbox base-styling

.textbox > p {
  margin-bottom: $gridUnit * 1;
}

.textbox > .textbox__child--margin-bottom {
  margin-bottom: $gridUnit * 3;
}

.textbox > ul {
  margin-bottom: $gridUnit * 1;
  list-style: square;
  list-style-position: inside;
}

.textbox img {
  width: 100%;
  padding: $gridUnit * 1 0 $gridUnit * 3 0;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 1s linear 0.5s;
}

.textbox img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

.textbox__github-container {
  display: flex;
  justify-content: space-between;
  margin-top: -$gridUnit * 2;
}


.textbox__github-button {

}

// Textbox variants

.textbox--accent > p:first-of-type{
  font-family: $titleFont;
  padding-bottom: $gridUnit * 3;
}

.textbox--with-emph-links a {
  display: inline-block;
  padding: 0 $gridUnit;

  background: $baseColor;
  color: $inverseColor;
}

