// Textbox base

.textbox {
  padding: 0 $gridUnit * 3;
}

.textbox--padding-bottom {
  padding: 0 $gridUnit * 3 $gridUnit * 12 $gridUnit * 3;
}

// Textbox base-styling

.textbox > p {
  padding-bottom: $gridUnit * 1;
}

.textbox > ul {
  padding-bottom: $gridUnit * 1;
  list-style: square;
  list-style-position: inside;
}

.textbox img {
  width: 100%;
  padding: $gridUnit * 1 0 $gridUnit * 3 0;
  -webkit-webkit-filter: grayscale(100%);
  -moz-webkit-filter: grayscale(100%);
  -ms-webkit-filter: grayscale(100%);
  -o-webkit-filter: grayscale(100%);
  webkit-filter: grayscale(100%);
}

// Textbox variants

.textbox--accent > p:first-of-type{
  font-family: $titleFont;
  padding-bottom: $gridUnit * 3;
}

.textbox--with-emph-links a {
  display: inline-block;
  padding: 0 $gridUnit;

  background: $baseColor;
  color: $inverseColor;
}

